<h1>Articles</h1>
<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %><br/>
<% end %>
Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
